#mainPane 
{
    -fx-background-image:url('frame.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;		
}

#createAcc
{
    -fx-background-image:url('create.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;		
}