/*url('file:C:\Users\Ali\Desktop\files\NewProject.png')*/



#MPane
{
    -fx-background-image:url('bg.png');
    -fx-background-repeat: no-repeat;
  -fx-background-size: 100%;
  -fx-overflow: auto;
}

	


